@import "../bootstrap-variables";
@import "bootstrap";
@import "compass";
@import "../variables";
@import "../mixins";

/* sticky footer styles */
$footer-height: 2 * $line-height-computed;
$footer-background-color: #eee;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background-color;
}

